.form-container {
    display: flex;
    flex-direction: column;
}

.filtersection{
    margin-bottom: 10px;
    display:flex;
    width: 100%;
    align-items: center;

}

.filtertitle{
    margin-right: 10px;
}
